scrapy
selenium
scrapy-selenium
pandas
streamlit
plotly
python-dotenv
webdriver-manager
beautifulsoup4
nltk
textblob
wordcloud
flask-cors==4.0.0
gunicorn==21.2.0
ipykernel==6.26.0
pymongo
lxml
openpyxl
matplotlib
numpy
-e . 
